<!DOCTYPE html>
<html>
  <head>
    <title>Simple Chat</title>
    <link rel="stylesheet" type="text/css" href="static/style.css" />
  </head>
  <body>
    <!-- チャットコンテナ -->
    <div class="chat-container">
      <ul class="messages">
        {% for message in messages %}
        <li
          class="message {% if message.sender == 'user' %}right{% else %}left{% endif %}"
        >
          {{ message.text }}
        </li>
        {% endfor %}
      </ul>
    </div>

    <!-- メッセージフォーム -->
    <form method="post" class="message-form">
      Message: <input type="text" name="message" /><br />
      <input type="submit" value="Send" />
    </form>
  </body>
</html>
